body {
  font-family: $fontMain;
  color: $colorDark;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

label,
textarea,
input {
  font-family: $fontMain;
}

.siteWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  // overflow: hidden;

  .footer {
    margin-top: auto;
  }
}

.logoWrapper {
  position: relative;
  @include invisLink;
  @include transition(all 0.3s);
  & > a {
    z-index: auto;
  }
}

.main {
  width: 100%;
}

.menu-burger {
  display: none;
  width: 40px;
  height: 40px;

  &.open {
    .line {
      background-color: $colorSite1;

      &:nth-child(1) {
        @include transform(rotate(-45deg));
        top: 8px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform(rotate(45deg));
        top: -8px;
      }
    }
  }

  .line {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $colorWhite;
    @include transition(all 0.3s);

    & + .line {
      margin-top: 5px;
    }
  }
}

.caption {
  display: block;
  font-weight: 500;
  font-size: 45px;
  line-height: 55px;
  color: $colorDark;

  span {
    font-weight: 300;
  }
}

.input-list {
  .input-item {
    & + .input-item {
    }
  }
}

.input-item {
  position: relative;

  %stylesInput {
    font-weight: 300;
    font-size: 16px;
    line-height: 55px;
    color: $colorForm;
    border: 1px solid $colorBorder;
    @include border-radius(5px);
    padding: 0 50px 0 35px;
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }

  textarea {
    @extend %stylesInput;
    height: 100%;
  }
  input {
    @extend %stylesInput;
    height: 59px;
  }

  &__icon {
    position: absolute;
    bottom: 17px;
    right: 21px;
    font-size: 24px;
    color: $colorSite1;
  }
}

.selectric {
  background: transparent;
  background-color: $colorWhite;
  border: 1px solid $colorBorder;
  height: 51px;
  width: 100%;
  @include border-radius(5px);

  .label {
    font-weight: 300;
    font-size: 16px;
    line-height: 51px;
    color: $colorForm;
    padding: 0 51px 0 21px;
    margin: 0;
    height: 100%;
  }

  .button {
    width: 48px;
    height: 100%;
    background: transparent;
    display: flex;

    @include beforeIcMoon {
      content: "\e002";
      font-size: 10px;
      color: $colorSite1;
      margin: auto;
      position: relative;
      top: 0;
    }

    &::after {
      display: none;
    }
  }
}

.selectric-wrapper {
  border: 0;

  &.selectric-open {
    .selectric {
      .button {
        @include transform(scale(1, -1));
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      margin-top: 0px;
      margin-bottom: -5px;
    }

    .selectric-scroll ul {
      padding-top: 0;
      padding-bottom: 5px;
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 1px solid $colorBorder;
  overflow: hidden;
  @include border-radius(0);
  @include box-shadow(none);
  margin-top: -5px;
  z-index: -1;
}

.selectric-scroll {
  border: 0;
  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #7b7b7b;
      padding: 9px 16px;
      @include transition(all 0.3s);

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorSite1;
      }
      &:hover {
        background: transparent !important;
        color: $colorSite1;
      }
    }
  }
}

.cellule__color {
  &--black {
    background-color: #050505;
  }

  &--gray {
    background-color: #5f5f5f;
  }

  &--blue {
    background-color: #c6c6c6;
  }

  &--brown {
    background-color: #603105;
  }

  &--ocher {
    background-color: #cca668;
  }

  &--ultramarine {
    background-color: #1e1edf;
  }

  &--red {
    background-color: #fe0000;
  }

  &--light-green {
    background-color: #9c103d;
  }

  &--yellow {
    background-color: #f8f400;
  }

  &--green {
    background-color: #11c460;
  }

  &--dark-green {
    background-color: #0f8145;
  }

  &--purple {
    background-color: #730693;
  }

  &--orange {
    background-color: #fd8c40;
  }

  &--white {
    background-color: #fff;
    border: 1px solid #e0e0e0;
  }
}

.checkBlock {
  display: flex;
  align-items: center;
  min-height: 36px;

  input {
    display: none;

    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 38px;
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $colorDark;
    display: block;
    text-align: left;

    @include before {
      left: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      margin-top: -12.5px;
      border: solid 1px $colorSite1;
      @include border-radius(50%);
    }

    @include after {
      left: 5px;
      top: 50%;
      width: 15px;
      height: 15px;
      margin-top: -7.5px;
      background-color: $colorSite1;
      @include border-radius(50%);
      opacity: 0;
    }
  }
}

.swiper-pagination {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;

  .swiper-pagination-bullet {
    position: relative;
    width: 20px;
    height: 8px;
    background-color: #e4e4e4;
    border: 0;
    margin: 0 8px;
    @include border-radius(10px);
    @include transition(all 0.3s);
    opacity: 1;

    &.swiper-pagination-bullet-active {
      background-color: $colorSite1;
      width: 31px;
    }

    &:hover {
      background-color: $colorSite1;
    }
  }
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal.is-open {
  display: block;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modal__content {
  padding: 0;
  margin: 0;

  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__close {
  width: 46px;
  height: 46px;
  padding: 18px;
  background-color: $colorSite1;
  @include border-radius(50%);
  position: absolute;
  right: 27px;
  top: 32px;
  display: block;
  @include transition(all 0.3s);
  z-index: 10;

  span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $colorWhite;
    @include transform(rotate(45deg));
    &:nth-child(2) {
      @include transform(rotate(-45deg));
      top: -2px;
    }
  }
  &:hover {
    background-color: $colorDark;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorDark;
      @include border-radius(10px);
    }
  }
}

.modal {
  &__inner {
    margin: 0 auto;
    text-align: center;
    position: relative;
    max-width: 489px;
    width: 100%;
  }

  &__content {
    position: relative;
    z-index: 5;
    background-color: $colorWhite;
    @include box-shadow(0px 4px 35px rgba(0, 0, 0, 0.15));
    @include border-radius(10px);
    overflow: hidden;
    padding: 87px 0 56px;

    @include before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
      background-image: url("../img/logo-big-company.png");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 225%;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: $colorBlack;
    display: block;
  }

  .input-list {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .input-item {
    & + .input-item {
      margin-top: 10px;
    }
  }

  .caption {
    font-size: 35px;
    line-height: 45px;

    & + * {
      margin-top: 10px;
    }
  }

  .controls {
    margin-top: 26px;

    .btn {
      min-width: 276px;
    }
  }

  .checkBlock {
    max-width: 365px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;

    label {
      &:after,
      &::before {
        @include border-radius(0);
      }
    }
  }
}

#modalInfo {
  .modal__inner {
    max-width: 768px;
    width: 100%;
    text-align: left;
  }

  .modal__content {
    padding: 80px 60px;

    &::before {
      background-size: auto;
      width: 410px;
      left: 50%;
      margin-left: -205px;
      background-position: left center;
    }
  }
}

#modalWrite {
  .modal__inner {
    max-width: 843px;
    width: 100%;
  }

  .modal__content {
    &::before {
      background-size: auto;
      width: 410px;
      left: 50%;
      margin-left: -205px;
      background-position: left center;
    }
  }

  .input-list {
    max-width: 739px;
    display: grid;
    gap: 11px 9px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .input-item {
      & + .input-item {
        margin-top: 0;
      }

      &:last-child {
        grid-row: 1/4;
        grid-column: 2/2;
      }
    }
  }

  .controls {
    max-width: 739px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 29px;
    justify-content: flex-start;

    .checkBlock {
      margin: 0;
    }
  }
}

.textModal {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: $colorDark;

  ul {
    padding-left: 15px;
  }

  li {
    position: relative;
    padding-left: 10px;

    @include before {
      left: 0;
      top: 11px;
      width: 5px;
      height: 5px;
      background-color: $colorBlack;
      @include border-radius(50%);
    }
  }
}

// хак для хрома (modal hidden body)

@media (min-width: 1200px) {
  _:-webkit-any-link,
  :root .modal-open {
    padding-right: 17px;

    .header {
      width: calc(100% - 17px);
    }
  }
}
