.grettings {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorWhite;
  font-weight: 300;
  padding-top: 142px;
  padding-bottom: 62px;

  &__content {
    min-height: 494px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 65px;
    line-height: 83px;
    display: block;
    font-weight: 300;
  }

  &__name {
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    display: block;
  }

  &__advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 46px 0 35px;
  }

  &__advitem {
    display: flex;
    align-items: flex-start;

    &:last-child {
      .grettings__advitem__name {
        max-width: 89px;
      }
    }

    img {
      margin-right: 27px;
    }

    &__name {
      font-weight: 450;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      display: block;
      padding-top: 13px;
      max-width: 203px;
    }
  }
}

.order-rugs {
  margin-top: 64px;
  background-color: $colorWhite;
  @include box-shadow(0px 4px 35px rgba(0, 0, 0, 0.15));
  @include border-radius(10px);
  padding: 41px 128px 41px 87px;
  display: flex;
  align-items: center;

  .caption {
    max-width: 184px;
  }

  .input-list {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: auto;
    margin-right: 18px;
    flex: 1;
    max-width: 748px;
  }

  .input-item {
    width: 50%;
  }

  .btn {
    min-width: 276px;
  }
}

.configurator {
  padding: 113px 0 65px;
  color: $colorDark;
  position: relative;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  &__left {
    max-width: 584px;
    padding-top: 24px;
    @include transition(top 1s);
    position: sticky;
    left: 0;
    top: 50px;
    padding-top: 90px;

    img {
      width: 100%;
    }

    &__text {
      font-weight: 300;
      font-size: 20px;
      line-height: 35px;
      color: $colorBlack;
      margin-top: 51px;

      span {
        color: $colorSite1;
        font-weight: 400;
      }
    }

    .picture {
      position: relative;
      width: 100%;
      height: 300px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .accessorie-1 {
        width: auto;
        height: auto;
        bottom: 60px;
        left: 50px;
        top: auto;
        display: none;

        &.visible {
          display: block;
        }
      }

      .accessorie-2 {
        left: auto;
        width: auto;
        height: auto;
        right: 120px;
        top: 55px;
        display: none;

        &.visible {
          display: block;
        }
      }
    }
  }

  &__content {
    max-width: 905px;
    width: 100%;
    margin-top: -26px;
    margin-left: auto;
  }

  &__list {
    width: 100%;
  }

  &__item {
    position: relative;
    border: 1px solid #c6ccdc;
    width: 100%;
    background-color: $colorWhite;
    @include border-radius(10px);
    padding: 47px 34px 41px 34px;

    & + * {
      margin-top: 20px;
    }

    &.aos-animate {
      .configurator__number {
        background-color: $colorSite1;
        left: -40px;
      }
    }
  }

  &__title {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    display: block;
  }

  &__number {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
    width: 73px;
    height: 73px;
    background-color: #a3a3a3;
    @include border-radius(50%);
    display: flex;
    align-items: flex-end;
    padding-bottom: 13px;
    position: absolute;

    top: 56px;
    padding-left: 16px;
    z-index: -1;
    left: 0;
    @include transition(all 0.3s);
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    &_left {
      max-width: 265px;
      width: 100%;
    }

    &_right {
      width: 54%;
    }

    &_complects {
      max-width: 70%;
    }

    .input-item {
      width: 100%;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-top: 40px;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;

    &__left {
    }

    &__right {
    }

    &__title {
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
      display: block;
      letter-spacing: 0.03em;
    }

    &__text {
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      display: block;
    }

    .btn-whatsapp {
      margin-top: 17px;
      height: 60px;
      min-width: 275px;
      padding-left: 70px;
      padding-right: 20px;

      &:hover {
        padding-right: 70px;
        padding-left: 20px;

        [class*="icon-"] {
          left: calc(100% - 58px);
        }
      }

      [class*="icon-"] {
        width: 58px;
        font-size: 36px;
      }
    }
  }

  .caption {
    width: 100%;
  }

  .input-list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 22px;
  }

  .input-item {
    min-width: calc(100% / 3 - 13px);
  }
}

.price-block {
  color: $colorDark;
  margin-top: -10px;

  &__line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    & + * {
      margin-top: 3px;
    }

    &:last-child {
      margin-top: 23px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 45px;
    line-height: 58px;
    margin-right: 18px;
  }

  &__price {
    font-weight: 500;
    font-size: 45px;
    line-height: 58px;
  }

  &__delivery {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;

    [class*="icon-"] {
      line-height: 21px;
      color: $colorSite1;
      margin-right: 7px;
      font-size: 15px;
      position: relative;
      top: 3px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $colorSite1;
    text-decoration: underline;
    @include transition(text-decoration 0.3s);
    letter-spacing: 0.05em;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .btn {
    min-width: 276px;
  }

  .mobile {
    display: none;
  }
}

.cellule-list {
  display: flex;
  flex-wrap: wrap;

  &--bg {
    .cellule-item {
      &__picture {
        @include before {
          width: 100%;
          height: 100%;
          background-image: url(../img/romb_1.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 200px;
          left: 0;
          top: 0;
          opacity: 0.5;
        }
      }
    }
  }

  .cellule-item {
    display: flex;
    align-items: center;

    input {
      display: none;

      &:checked {
        & + label {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    label {
      cursor: pointer;
      padding-left: 33px;
      position: relative;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: $colorDark;

      @include before {
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        border: solid 1px $colorSite1;
        @include border-radius(50%);
      }

      @include after {
        left: 4px;
        top: 50%;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        background-color: $colorSite1;
        @include border-radius(50%);
        opacity: 0;
      }
    }

    &__picture {
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include border-radius(50%);
      overflow: hidden;
    }
  }

  &.horizontal {
    margin-top: 15px;

    gap: 66px;

    .cellule-item {
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;
        line-height: 32px;
      }

      &__picture {
        width: 66px;
        height: 66px;
      }
    }
  }

  &.vertical {
    margin-top: 25px;
    gap: 38px 8px;

    .cellule-item {
      width: calc(100% / 10 - 8px);
      align-items: flex-start;

      label {
        text-align: center;
        padding-bottom: 22px;
        padding-left: 26px;

        &::after {
          top: 17px;
          margin-top: 0;
        }

        &::before {
          top: 13px;
          margin-top: 0;
        }

        .text {
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 13px;
          white-space: nowrap;
        }
      }

      &__picture {
        width: 43px;
        height: 43px;
      }
    }
  }
}

.complect-list {
  border: 1px solid #b6bac2;
  @include border-radius(5px);
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 15px;

  li {
    width: 50%;
    @include invisLink;
  }

  input {
    display: none;

    &:checked {
      & + label {
        color: $colorWhite;
        background-color: $colorSite1;
      }
    }
  }

  label {
    width: 100%;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: $colorDark;
    @include border-radius(5px);
    @include transition(all 0.3s);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
  }
}

.complect-body {
  .checkBlock {
    & + .checkBlock {
      margin-top: 15px;
    }
  }
}

.auto-picture {
  &__link {
    text-align: center;
    margin-top: 11px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: $colorSite1;
  }
}

.accessories {
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 38px 1fr;
    max-width: 392px;
    gap: 2px 33px;

    img {
      grid-column: 1/2;
      width: 125px;
      object-position: center;
      object-fit: contain;
    }

    &:last-child {
      max-width: 443px;

      img {
        @include transform(translateY(-25px));
      }

      .accessories__price {
        width: 170px;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $colorSite1;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    width: 92px;
  }

  .input-list {
    grid-column: 2/3;
    width: 190px;
    margin-top: 0;

    .input-item {
      width: 100%;
    }

    .selectric {
      height: 34px;

      .button {
        width: 28px;
      }

      .label {
        height: 34px;
        font-size: 14px;
        line-height: 29px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .selectric-scroll ul li {
      font-size: 12px;
      line-height: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .btn {
    font-weight: 400;
    width: 55px;
    height: 51px;
    font-size: 25px;
    line-height: 41px;
    grid-column: 3/3;
    grid-row: 1/3;
    padding: 0;

    &.active {
    }

    &::before {
      display: none;
    }
  }
}

.counter {
  color: $colorBlack;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid #c6ccdc;
  @include border-radius(2px);
  display: flex;
  flex-wrap: wrap;
  width: 112px;
  text-align: center;
  height: 37px;
  grid-column: 2/3;

  %centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include transition(color 0.3s);
    @include border-radius(2px);
  }

  &__minus {
    width: 35px;
    cursor: pointer;
    @extend %centered;

    &:hover {
      color: $colorSite1;
    }
  }

  &__text {
    position: relative;
    width: 20px;
    flex: 1;
    @extend %centered;

    @include before {
      width: 1px;
      height: 14px;
      top: 50%;
      left: 0;
      background-color: #c6ccdc;
      margin-top: -7px;
    }

    @include after {
      width: 1px;
      height: 14px;
      top: 50%;
      right: 0;
      background-color: #c6ccdc;
      margin-top: -7px;
    }
  }

  &__plus {
    width: 35px;
    cursor: pointer;
    @extend %centered;

    &:hover {
      color: $colorSite1;
    }
  }
}

.rugs-info {
  background-color: #f8f8f8;
  padding: 130px 0 0;
  overflow: hidden;
}

.rugs-slider {
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;

  &__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.04em;
  }

  &__desc {
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    display: block;
    margin-top: -10px;
  }

  &__price {
    margin-top: 30px;

    .title {
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      display: block;

      & + .price {
        margin-top: -6px;
      }
    }

    .price {
      font-weight: 500;
      font-size: 35px;
      line-height: 45px;
      display: block;
    }
  }

  &__content {
    margin-top: 38px;
    max-width: 1410px;
  }

  &__leftSide {
    position: relative;
    max-width: 370px;
    width: 100%;
  }

  &__righSide {
    z-index: 3;
    width: 100%;
    max-width: 788px;
    margin-top: -197px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 624px;
    position: relative;

    img {
      top: -24px;
      position: relative;
      max-width: 100%;
      @include transition(opacity 0.3s);
    }

    @include before {
      background-image: url(../img/circles.png);
      background-position: center;
      background-repeat: no-repeat;
      height: 112px;
      bottom: 35px;
      width: 100%;
      pointer-events: none;
      z-index: 1;
    }

    @include after {
      width: 916px;
      height: 100%;
      top: 131px;
      right: 0px;
      z-index: -1;
      pointer-events: none;
      background-image: url("../img/logo-big-company.png");
      background-position: right top;
      background-repeat: no-repeat;
    }
  }

  .btn {
    margin-top: 23px;
    min-width: 275px;
  }

  .info {
    position: absolute;
    right: -12px;
    top: 16px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    @include border-radius(50%);
    @include transition(all 0.3s);
    background-color: #e0e0e0;
    width: 34px;
    height: 34px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $colorSite1;
      color: $colorWhite;
    }
  }

  .swiper {
    position: relative;
    overflow: visible;
  }

  .swiper-wrapper {
    overflow: visible;
  }

  .swiper-slide {
    background-color: $colorWhite;
    @include box-shadow(0px 4px 35px rgba(0, 0, 0, 0.15));
    @include border-radius(10px);
    padding: 71px 0px 22px 101px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: visible;
    pointer-events: none;

    img {
      opacity: 0.2;
    }

    &.swiper-slide-active {
      pointer-events: all;

      &::before {
        opacity: 0;
      }

      img {
        opacity: 1;
      }
    }

    @include before {
      width: 100%;
      height: 100%;
      background-color: $colorWhite;
      opacity: 0.8;
      pointer-events: none;
      top: 0;
      left: 0;
      z-index: 5;
    }
  }

  %swiper-button {
    background-color: $colorWhite;
    border: solid 2px $colorSite1;
    @include border-radius(50%);
    @include transition(all 0.3s);
    width: 98px;
    height: 98px;
    color: $colorSite1;
    font-size: 10px;
    margin-top: -34px;

    &:after {
      display: none;
    }

    &::before {
      position: relative;
      font-size: 16px;
    }

    &:hover {
      background-color: $colorSite1;
      color: $colorWhite;
    }
  }

  .swiper-button-prev {
    @extend %swiper-button;
    left: calc(50% - 120px);
    margin-top: -101px;

    &:before {
      left: -18px;
      @include transform(scale(-1, 1));
    }
  }

  .swiper-button-next {
    @extend %swiper-button;
    right: -50px;
    margin-top: -101px;

    &:before {
      left: 18px;
    }
  }

  .swiper-pagination {
    left: calc(50% + 18px);
    display: inline-block;
    width: auto;
  }
}

.rugs-advantages {
  position: relative;
  padding: 316px 0 104px;
  z-index: 3;

  .list-title-invis {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;

    .title-invis {
      position: absolute;
      font-weight: 700;
      font-size: 200px;
      line-height: 256px;
      text-transform: uppercase;
      color: #ececec;

      &:nth-child(1) {
        top: 90px;
      }

      &:nth-child(2) {
        top: 394px;
        font-size: 150px;
        line-height: 192px;
        left: 254px;
      }

      &:nth-child(3) {
        right: 0px;
        font-size: 130px;
        line-height: 167px;
        top: 589px;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    width: 435px;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 106px;

    &:nth-child(1) {
      grid-column: 1/2;
    }

    &:nth-child(2) {
      grid-row: 2/2;
      @include transform(translateX(35px));
    }

    &:nth-child(3) {
      grid-row: 3/3;
      @include transform(translateX(65px));
    }

    &:nth-child(4) {
      grid-column: 2/2;
      grid-row: 1/2;

      .rugs-advantages__head {
        padding-right: 96px;
      }
    }

    &:nth-child(5) {
      grid-column: 2/2;
      grid-row: 2/2;
      @include transform(translateX(-42px));

      .rugs-advantages__head {
        padding-right: 96px;
      }

      [class*="icon-"] {
        font-size: 43px;
      }
    }

    &:nth-child(6) {
      grid-column: 2/2;
      grid-row: 3/3;
      @include transform(translateX(-60px));

      .rugs-advantages__head {
        padding-right: 46px;
      }
    }

    &:nth-last-child(3),
    &:nth-last-child(2),
    &:nth-last-child(1) {
      text-align: right;
      margin-left: auto;

      .rugs-advantages__head {
        padding-left: 0;

        [class*="icon-"],
        .icon {
          left: auto;
          right: 0;
        }
      }
    }
  }

  &__head {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: $colorDark;
    padding-left: 77px;
    position: relative;
    min-height: 57px;
    display: flex;
    flex-direction: column;

    & + * {
      margin-top: 11px;
    }

    [class*="icon-"],
    .icon {
      color: $colorSite1;
      font-size: 57px;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }

    &__num {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: $colorSite1;
      display: block;
      margin-top: auto;
    }

    &__name {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      display: block;
    }
  }

  &__picture {
    position: absolute;
    left: 50%;
    top: 34px;
    margin-left: -500px;
    pointer-events: none;
  }
}

.work-example {
  padding: 62px 0 68px;
  overflow: hidden;

  &__head {
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    .caption {
    }
  }

  &__item {
    display: grid;
    grid-template-columns: calc(60% + 27px) 1fr;
    grid-template-rows: 395px 395px;
    gap: 16px 23px;

    img {
      @include border-radius(10px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .col {
      position: relative;
      @include invisLink;

      &:hover {
        [class*="icon-"] {
          opacity: 1;
        }
      }

      &_big {
        grid-row: 1/3;
      }
    }

    [class*="icon-"] {
      background-color: rgba(228, 228, 228, 0.8);
      @include border-radius(50%);
      position: absolute;
      bottom: 44px;
      right: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 73px;
      height: 73px;
      font-size: 30px;
      opacity: 0;
      @include transition(opacity 0.3s);
    }
  }

  .swiper {
    left: -65px;
    width: calc(100% + 120px);
  }

  .swiper,
  .swiper-container {
    overflow: visible;
  }

  .swiper-slide {
    @include transition(opacity 0.3s);
    opacity: 0.44;

    &.swiper-slide-active {
      opacity: 1;
    }
  }

  .swiper-controls {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #23262e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    margin: 0;
    width: auto;
  }

  .swiper-pagination-total {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
  }

  %swiper-work-button {
    @include transition(all 0.3s);
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #b4b4b4;
    font-size: 10px;
    margin-top: -14px;

    &:after {
      display: none;
    }

    &::before {
      position: relative;
      font-size: 16px;
      @include transition(all 0.3s);
    }

    &:hover {
      color: $colorSite1;
    }
  }

  .swiper-button-prev {
    @extend %swiper-work-button;

    &:before {
      left: -18px;
      @include transform(scale(-1, 1));
    }
  }

  .swiper-button-next {
    @extend %swiper-work-button;

    &:before {
      left: 18px;
    }
  }
}

.catalog {
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  margin-top: 67px;

  .catalog-item {
    width: calc(100% / 5 - 52px);
  }
}

.catalog-item {
  &__picture {
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #23262e;
    margin-top: 10px;
  }

  &__price {
    color: $colorDark;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    margin-top: 37px;

    .price {
      font-weight: 500;
      font-size: 25px;
      line-height: 32px;
      margin-left: 8px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 14px;
    height: 57px;
    line-height: 46px;
  }
}

.reviews {
  padding: 130px 0 134px;
  overflow: hidden;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add {
    color: $colorDark;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 28px;

    .text {
      max-width: 470px;
      text-align: right;
    }

    .btn {
      min-width: 276px;
    }
  }

  .swiper {
    max-width: 1213px;
    margin: 55px 0 0;
  }

  .swiper-slide {
    @include transition(opacity 0.3s);
  }

  .swiper-slide-prev {
    opacity: 0;
  }

  %swiper-button {
    background-color: $colorSite1;
    border: solid 2px $colorSite1;
    @include border-radius(50%);
    @include transition(all 0.3s);
    width: 70px;
    height: 70px;
    color: $colorWhite;
    font-size: 8px;
    margin-top: -60px;
    left: calc(100% + 290px);

    &:after {
      display: none;
    }

    &::before {
      position: relative;
      font-size: 16px;
    }

    &:hover {
      background-color: $colorWhite;
      color: $colorSite1;
    }
  }

  .swiper-button-next {
    @extend %swiper-button;

    &:before {
      left: 8px;
    }
  }

  .swiper-button-text {
    font-family: $fontMain;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    text-align: right;
    color: $colorWhite;
  }

  .swiper,
  .swiper-container {
    overflow: visible;
  }

  .swiper-slide-active {
    .review-item__picture {
      &::before {
        opacity: 0;
      }
    }
  }
}

.review-item {
  display: flex;
  align-items: center;
  gap: 67px;
  justify-content: space-between;

  &__picture {
    max-width: 568px;
    @include border-radius(10px);
    overflow: hidden;
    width: 100%;
    position: relative;

    @include before {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(35, 38, 46, 0.88),
        rgba(35, 38, 46, 0.88)
      );
      opacity: 1;
      @include transition(opacity 0.3s);
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    width: calc(100% - 610px);
    padding-right: 115px;
  }

  &__date {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
  }

  &__name {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;

    & + * {
      margin-top: 25px;
    }
  }
}

.reviews-other {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  gap: 12px;

  &__item {
    width: calc(100% / 5 - 10px);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $colorDark;
    position: relative;
    border: solid 1px #9ca0ac;
    padding: 15px 10px;
    overflow: hidden;
    @include border-radius(10px);
    @include transition(all 0.3s);
    @include invisLink;

    [class*="icon-"] {
      color: $colorDark;
      font-size: 70px;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.1;
      @include transition(color 0.3s);
    }

    svg {
      fill: #757983;
      color: #757983;
      @include transition(all 0.3s);

      path {
        @include transition(all 0.3s);
        fill: #757983;
        color: #757983;
      }
    }

    img {
      max-width: 175px;
      object-fit: cover;
    }

    &:hover {
      background-color: $colorSite1;
      border-color: $colorSite1;

      [class*="icon-"] {
        color: $colorWhite;
      }

      svg {
        fill: $colorWhite;
        color: $colorWhite;

        path {
          fill: $colorWhite;
          color: $colorWhite;
        }
      }
    }
  }

  &__text {
    margin-top: 10px;
    display: block;
  }
}

.guarantes {
  color: $colorDark;

  .caption {
    & + * {
      margin-top: 21px;
    }
  }

  p {
    & + p {
      margin-top: 21px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    max-width: 436px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    max-width: 1201px;
    width: 100%;
  }

  &__item {
    position: relative;
    width: calc(100% / 3 - 20px);
    @include border-radius(10px);
    min-height: 427px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding: 5px 56px 26px;
    z-index: 3;

    @include before {
      width: 100%;
      height: 100%;
      background-color: $colorBlack;
      left: 0;
      top: 0;
      @include border-radius(10px);
      z-index: -1;
      opacity: 0;
    }

    &:hover {
      &::before {
        opacity: 0.5;
      }

      .guarantes__name {
        opacity: 0;
      }

      .guarantes__desc {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
    opacity: 1;
    @include transition(opacity 0.3s);
  }

  &__desc {
    @include transition(opacity 0.3s);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: $colorWhite;
    padding: 15px;
  }

  strong {
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    color: $colorSite1;
    display: block;
    margin-top: 35px;
  }
}

.mobile-dialog-guarant {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 600px;
  @include border-radius(10px);
  background-color: transparent;

  &.fancybox__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    color: $colorWhite;
    min-height: 250px;
    text-shadow: 0px 0px 0p $colorBlack;

    .guarantes__name {
      & + * {
        margin-top: 10px;
      }
    }
  }
}

.delivery {
  position: relative;
  padding: 114px 0 192px;
  background-image: url(../img/word.png);
  background-position: calc(50% + 95px) 143px;
  background-repeat: no-repeat;
  overflow: hidden;

  &__content {
    max-width: 690px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $colorDark;
  }

  .caption {
    & + * {
      margin-top: 21px;
    }
  }

  .car {
    position: absolute;
    background-image: url(../img/car.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1188px;
    height: 789px;
    position: absolute;
    top: -27px;
    left: calc(50% - 71px);
    pointer-events: none;
  }
}

.faq {
  margin-top: 38px;
  max-width: 655px;

  &__item {
    & + * {
      margin-top: 18px;
    }

    &:first-child {
      .faq__quest {
      }
      .faq__answer {
        display: block;
      }
    }
  }

  .active {
    .faq__quest {
      [class*="icon-"] {
        background-color: $colorSite1;
        color: $colorWhite;

        &::before {
          @include transform(scale(1, -1));
        }
      }
    }
  }

  &__quest {
    border-bottom: 1px solid #8b8d91;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $colorSite1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 17px;

    &:hover {
      [class*="icon-"] {
        background-color: $colorSite1;
        color: $colorWhite;
      }
    }

    [class*="icon-"] {
      border: 1px solid $colorSite1;
      right: 0;
      top: 50%;
      @include border-radius(5px);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 46px;
      height: 46px;
      font-size: 10px;
      padding-bottom: 10px;
      @include transition(all 0.3s);
    }
  }

  &__answer {
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #525459;
    padding: 12px 0 39px;
    border-bottom: 1px solid #8b8d91;
  }
}

.faq-controls {
  color: $colorBlack;
  margin-top: 39px;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-right: 15px;
  }

  &__price {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    margin-right: 35px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $colorSite1;
    margin-left: 0;
    text-decoration: underline;
    @include transition(text-decoration-color 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.footer {
  background-color: $colorDark;
  color: $colorWhite;
  padding: 69px 0;
}

.footer__content {
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  .caption {
    color: $colorWhite;
    width: 100%;
    margin-bottom: 7px;
  }

  &__adress {
    margin-right: 44px;

    [class*="icon-"] {
      font-size: 20px;
      margin-right: 9px;
    }
  }

  &__mail {
    margin-right: 65px;
    display: flex;
    align-items: center;

    [class*="icon-"] {
      font-size: 25px;
      margin-right: 12px;
    }

    a {
      @include text-decoration-hover($colorWhite);
    }
  }

  .timeWork {
  }

  &__social {
    margin: 0 auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    li {
    }

    svg {
      @include transition(all 0.3s);
      @include border-radius(50%);

      circle,
      path {
        @include transition(all 0.3s);
      }
    }

    a:hover {
      svg {
        fill: $colorSite1;

        circle {
          fill: $colorSite1;

          & + {
            path {
              fill: $colorWhite;

              & + {
                path {
                  fill: $colorWhite;
                }
              }
            }
          }
        }
        path {
          fill: $colorSite1;
        }
      }
    }

    img {
    }
  }

  .header__phone {
    margin-right: 25px;
  }

  .btn-phone {
    background-color: transparent;
    border: solid 1px $colorWhite;
    color: $colorWhite;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    padding-left: 65px;
    padding-right: 26px;
    min-width: 170px;

    &:hover {
      background-color: $colorWhite;
      color: $colorDark;

      [class*="icon-"] {
        left: 0;
        color: $colorDark;
        border-color: $colorDark;
      }
    }

    [class*="icon-"] {
      background-color: transparent;
      color: $colorWhite;
      font-size: 15px;
      border-right: solid 1px $colorWhite;
      height: 21px;
      top: 50%;
      margin-top: -10px;
      @include border-radius(0);
    }
  }
}

.map {
  margin-top: 40px;
  width: 100%;
  height: 407px;
  @include border-radius(10px);
  overflow: hidden;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  color: $colorWhite;
  flex-wrap: wrap;
  padding: 58px 0px 0px;

  .col {
    text-align: center;

    &:first-child {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    &:last-child {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .title {
    font-weight: 300;
    font-size: 35px;
    line-height: 45px;
  }

  .name {
    font-weight: 400;
    font-size: 50px;
    line-height: 39px;
  }

  .text {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    margin-top: 38px;
    display: block;
  }

  .logoWrapper {
    margin-bottom: 45px;

    img {
    }
  }

  .link {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;
    @include text-decoration-hover($colorWhite);
  }
}

.link-page-up {
  background-color: $colorSite1;
  @include border-radius(10px);
  width: 46px;
  height: 46px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
  @include transition(all 0.3s);
  color: $colorWhite;

  [class*="icon-"] {
  }

  &:hover {
    color: $colorDark;
    background-color: $colorWhite;
  }
}

.text-simple {
  padding: 30px 0;
  padding-top: 142px;
  font-weight: 300;
  font-size: 25px;
  line-height: 45px;
  display: block;

  h2 {
    display: block;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    color: #23262e;
    margin: 10px 0;
  }
}
