@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v9cohx');
  src:  url('fonts/icomoon.eot?v9cohx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v9cohx') format('truetype'),
    url('fonts/icomoon.woff?v9cohx') format('woff'),
    url('fonts/icomoon.svg?v9cohx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delivery:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e002";
}
.icon-people:before {
  content: "\e906";
}
.icon-arrow:before {
  content: "\e001";
}
.icon-location1:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-time:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-location:before {
  content: "\e900";
}
